.about {
    position: relative;
    /* display: flex;
    justify-content: center;
    flex-direction: column; */
    display: block;
    text-align: center;
    margin-bottom: 112px;
    .about__title {
        display: block;
        font-family: "Lato";
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 36px;
        text-transform: uppercase;
        color: #506983;
        margin: 0 auto 67px auto;
    }
    .about__img {
        display: inline-block;
        margin: 0 auto;
        max-width: 75%;
        height: 700px;
    }
    /*  .about-slider {
        display: flex;
        min-width: 0;
    } */
    .about__block {
        position: absolute;
        display: block;
        text-align: left;
        /* max-width: 1050px; */
        width: 800px;
        height: 390px;
        background-color: #fff;
        top: 31%;
        left: 12%;
        overflow: hidden;
        // padding-left: 140px;
    }
    .about__card {
        display: block;
        // max-width: 601px;
        height: 100%;
        min-width: 600px;
        padding: 57px 24px 2px 140px;
        /* margin-left: 38px; */
        &:last-child {
            margin-left: 0;
        }
        .about__paragraph {
            display: block;
            font-family: "Lato";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 165%;
            color: #616e7b;
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .about__subtitle {
            font-family: "Lato";
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 143%;
            color: #448dd7;
        }
    }
}

.about__picture {
    position: absolute;
    margin: 0;
    left: -28px;
    top: 186px;
}


/* .about-slider__wrapper {
    display: flex;
    min-width: 0;
} */

.swiper-pagination--about {
    position: absolute;
    left: 64%;
    display: block;
    margin: 0 auto;
}