body li {
    list-style: none;
}

body a {
    text-decoration: none;
}

body {
    font-family: "Roboto", "Lato", sans-serif;
    overflow-x: hidden;
}

img,
picture {
    display: inline-block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main-container {
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
}